In [20]:
import pandas as pd

In [20]:
!ls -a

.
..
.DS_Store
.ipynb_checkpoints
HC01113D21_PRES_PRE_DATES.DAT
HC01113D21_PRES_PRE_DATES_12.DTA
HL01113D21_BSSE.DAT
HL01113D21_BSSE.DTA
HL01113D21_BSSE_12.DTA
SC01113D21_PRE_DATES.DAT
SC01113D21_PRE_DATES_12.DTA
SL01113D21_BSSE.DAT
SL01113D21_BSSE_12.DTA
Untitled.ipynb
e051633798e34e2b0b0e6360cf470d4e.torrent
han-chainer
repos

In [4]:
pd.set_option('max_column',100)
pd.set_option('max_row',100)

In [5]:
def get_uniques(fl):
    df = pd.read_stata(fl)
    return pd.unique(df[df.statenm==' USA    '].name)

In [22]:
get_uniques('HL01113D21_BSSE_12.DTA')

array([' JEFFERSON    ', ' MADISON      ', ' MONROE       ',
       ' ADAMS J Q    ', ' JACKSON      ', ' VAN BUREN    ',
       ' TYLER        ', ' POLK         ', ' PIERCE       ',
       ' BUCHANAN     ', ' LINCOLN      ', ' GRANT        ',
       ' ARTHUR       ', ' HARRISON B   ', ' CLEVELAND    ',
       ' MCKINLEY     ', ' ROOSEVELT    ', ' TAFT         ',
       ' WILSON       ', ' HARDING      ', ' COOLIDGE     ',
       ' ROOSEVELT F  ', ' TRUMAN       ', ' EISENHOWER   ',
       ' KENNEDY      ', ' JOHNSON      ', ' NIXON        ',
       ' FORD         ', ' CARTER       ', ' REAGAN       ',
       ' BUSH         ', ' CLINTON      ', ' OBAMA        '], dtype=object)

In [23]:
get_uniques('SL01113D21_BSSE_12.DTA')

array([' EISENHOWER   ', ' KENNEDY      ', ' JOHNSON      ',
       ' NIXON        ', ' FORD         ', ' CARTER       ',
       ' REAGAN       ', ' BUSH         ', ' CLINTON      ',
       ' OBAMA        '], dtype=object)

In [35]:
df = pd.read_stata('HL01113D21_BSSE_12.DTA')

In [36]:
df.head()

,cong,idno,state,cd,statenm,party,name,dwnom1,dwnom2,bootse1,bootse2,corr12,logl,nchoices,errors,gmp
0,1,9062,1,98,CONNECT,5000,STURGES,0.648,0.330,0.1129,0.1204,-0.1329,-26.876240,80,12,0.715
1,1,9706,1,98,CONNECT,5000,WADSWORTH,0.759,0.136,0.0751,0.1067,-0.2138,-18.204660,86,4,0.809
2,1,8457,1,98,CONNECT,5000,SHERMAN,0.715,0.203,0.0759,0.2234,-0.2127,-39.456718,107,18,0.692
3,1,4766,1,98,CONNECT,5000,HUNTINGTON,0.747,0.125,0.1056,0.2029,-0.3442,-28.309179,84,12,0.714
4,1,9489,1,98,CONNECT,5000,TRUMBULL,0.778,0.069,0.0814,0.1166,-0.1971,-31.098221,106,11,0.746

In [37]:
df.shape

(37521, 16)

In [38]:
pd.unique(df.statenm)

array([' CONNECT', ' DELAWAR', ' GEORGIA', ' MARYLAN', ' MASSACH',
       ' NEW HAM', ' NEW JER', ' NEW YOR', ' NORTH C', ' PENNSYL',
       ' SOUTH C', ' VIRGINI', ' KENTUCK', ' RHODE I', ' VERMONT',
       ' TENNESS', ' USA    ', ' OHIO   ', ' LOUISIA', ' INDIANA',
       ' ILLINOI', ' MISSISS', ' ALABAMA', ' MAINE  ', ' MISSOUR',
       ' ARKANSA', ' MICHIGA', ' FLORIDA', ' IOWA   ', ' TEXAS  ',
       ' WISCONS', ' CALIFOR', ' MINNESO', ' OREGON ', ' KANSAS ',
       ' NEVADA ', ' WEST VI', ' NEBRASK', ' COLORAD', ' IDAHO  ',
       ' MONTANA', ' NORTH D', ' SOUTH D', ' WASHING', ' WYOMING',
       ' UTAH   ', ' OKLAHOM', ' ARIZONA', ' NEW MEX', ' ALASKA ',
       ' HAWAII '], dtype=object)

In [73]:
df['idno_name'] = df['idno'].map(str) + '_' + df['name']

In [74]:
df.head()

,cong,idno,state,cd,statenm,party,name,dwnom1,dwnom2,bootse1,bootse2,corr12,logl,nchoices,errors,gmp,idno_name
0,1,9062,1,98,CONNECT,5000,STURGES,0.648,0.330,0.1129,0.1204,-0.1329,-26.876240,80,12,0.715,9062_ STURGES
1,1,9706,1,98,CONNECT,5000,WADSWORTH,0.759,0.136,0.0751,0.1067,-0.2138,-18.204660,86,4,0.809,9706_ WADSWORTH
2,1,8457,1,98,CONNECT,5000,SHERMAN,0.715,0.203,0.0759,0.2234,-0.2127,-39.456718,107,18,0.692,8457_ SHERMAN
3,1,4766,1,98,CONNECT,5000,HUNTINGTON,0.747,0.125,0.1056,0.2029,-0.3442,-28.309179,84,12,0.714,4766_ HUNTINGTON
4,1,9489,1,98,CONNECT,5000,TRUMBULL,0.778,0.069,0.0814,0.1166,-0.1971,-31.098221,106,11,0.746,9489_ TRUMBULL

In [43]:
df[df.statenm==' USA    ']

,cong,idno,state,cd,statenm,party,name,dwnom1,dwnom2,bootse1,bootse2,corr12,logl,nchoices,errors,gmp
562,7,99871,99,0,USA,200,JEFFERSON,0.021,0.484,0.1749,0.2347,-0.1728,-0.876030,12,1,0.930
815,9,99871,99,0,USA,200,JEFFERSON,0.021,0.484,0.1749,0.2347,-0.1728,-5.418410,28,1,0.824
1103,11,99872,99,0,USA,200,MADISON,0.080,0.996,0.0807,0.2144,0.1460,-1.103090,13,1,0.919
1254,12,99872,99,0,USA,200,MADISON,0.080,0.996,0.0807,0.2144,0.1460,-2.429270,21,1,0.891
2348,18,99873,99,0,USA,200,MONROE,0.149,0.381,0.2714,0.4132,-0.5557,-2.834950,10,0,0.753
2560,19,99874,99,0,USA,22,ADAMS J Q,0.377,-0.286,0.1612,0.3792,0.5252,-5.001930,13,2,0.681
2778,20,99874,99,0,USA,22,ADAMS J Q,0.377,-0.286,0.1612,0.3792,0.5252,-0.574260,14,0,0.960
2996,21,99875,99,0,USA,555,JACKSON,-0.215,-0.041,0.1371,0.2018,0.4833,-6.062200,12,2,0.603
3213,22,99875,99,0,USA,555,JACKSON,-0.215,-0.041,0.1371,0.2018,0.4833,-4.872170,16,1,0.737
3430,23,99875,99,0,USA,555,JACKSON,-0.215,-0.041,0.1371,0.2018,0.4833,-5.347460,15,5,0.700
3938,25,99876,99,0,USA,100,VAN BUREN,0.048,-0.999,0.1178,0.3784,-0.6055,-6.038480,21,1,0.750
4447,27,99878,99,0,USA,29,TYLER,0.225,-0.974,0.0677,0.2541,-0.0887,-16.108931,36,6,0.639
4933,29,99879,99,0,USA,100,POLK,-0.665,-0.426,0.1815,0.2060,0.0402,-1.846990,33,0,0.946
5877,33,99882,99,0,USA,100,PIERCE,0.218,0.211,0.2354,0.3110,0.0902,-8.439470,15,5,0.570
6115,34,99882,99,0,USA,100,PIERCE,0.218,0.211,0.2354,0.3110,0.0902,-2.284990,14,0,0.849
6351,35,99883,99,0,USA,100,BUCHANAN,-0.631,-0.162,0.2156,0.5961,0.6526,-1.800330,17,1,0.900
6837,37,99884,99,0,USA,200,LINCOLN,0.375,0.927,0.1356,0.6216,-0.0996,-1.582900,15,0,0.900
7028,38,99884,99,0,USA,200,LINCOLN,0.375,0.927,0.1356,0.6216,-0.0996,-9.314850,16,4,0.559
7642,41,99886,99,0,USA,200,GRANT,0.163,0.050,0.1056,0.4414,0.3289,-4.619970,14,0,0.719
7897,42,99886,99,0,USA,200,GRANT,0.163,0.050,0.1056,0.4414,0.3289,-2.356220,11,0,0.807
9351,47,99889,99,0,USA,200,ARTHUR,0.094,-0.996,0.2389,0.6206,0.6118,-3.749330,13,2,0.749
10632,51,99891,99,0,USA,200,HARRISON B,0.236,-0.094,0.2676,0.4282,0.0702,-3.859370,23,1,0.846
11312,53,99890,99,0,USA,100,CLEVELAND,-0.373,-0.739,0.2291,0.1419,-0.0442,-0.698620,12,0,0.943
12403,56,99892,99,0,USA,200,MCKINLEY,0.223,0.554,0.1955,0.5359,-0.0311,-3.620170,12,2,0.740
12763,57,99893,99,0,USA,200,ROOSEVELT,0.428,0.597,0.1451,0.5416,0.0495,-0.889360,13,0,0.934
14245,61,99894,99,0,USA,200,TAFT,0.230,-0.973,0.1209,0.3036,0.4721,-3.912870,11,2,0.701
14643,62,99894,99,0,USA,200,TAFT,0.230,-0.973,0.1209,0.3036,0.4721,-1.105420,11,0,0.904
15044,63,99895,99,0,USA,100,WILSON,-0.402,-0.636,0.1482,0.3544,-0.1585,-0.333810,11,0,0.970
15921,65,99895,99,0,USA,100,WILSON,-0.402,-0.636,0.1482,0.3544,-0.1585,-0.855890,14,0,0.941
16815,67,99896,99,0,USA,200,HARDING,0.461,-0.660,0.1406,0.3239,0.6668,-0.572620,18,0,0.969
17263,68,99897,99,0,USA,200,COOLIDGE,0.370,0.393,0.1626,0.3152,-0.1340,-1.674480,11,1,0.859
17699,69,99897,99,0,USA,200,COOLIDGE,0.370,0.393,0.1626,0.3152,-0.1340,-1.008930,10,0,0.904
19430,73,99899,99,0,USA,100,ROOSEVELT F,-0.505,-0.632,0.1657,0.6656,0.1787,-4.784480,27,2,0.838
19873,74,99899,99,0,USA,100,ROOSEVELT F,-0.376,-0.229,0.1336,0.4739,0.1329,-1.317360,32,0,0.960
20311,75,99899,99,0,USA,100,ROOSEVELT F,-0.247,0.175,0.1462,0.3207,0.1657,-0.820600,26,0,0.969
20750,76,99899,99,0,USA,100,ROOSEVELT F,-0.118,0.579,0.1951,0.2811,0.2266,-2.835470,26,2,0.897
21198,77,99899,99,0,USA,100,ROOSEVELT F,0.012,0.982,0.2611,0.3911,0.2446,-1.445520,11,1,0.877
22081,79,99900,99,0,USA,100,TRUMAN,-0.276,0.044,0.1797,0.1984,0.1427,-0.303320,19,0,0.984
22525,80,99900,99,0,USA,100,TRUMAN,-0.276,0.044,0.1797,0.1984,0.1427,-3.858420,12,2,0.725
22971,81,99900,99,0,USA,100,TRUMAN,-0.276,0.044,0.1797,0.1984,0.1427,-5.676670,44,1,0.879
23410,82,99900,99,0,USA,100,TRUMAN,-0.276,0.044,0.1797,0.1984,0.1427,-0.899750,19,0,0.954
23854,83,99901,99,0,USA,200,EISENHOWER,0.127,-0.992,0.1079,0.1305,-0.0178,-4.032330,32,1,0.882
24290,84,99901,99,0,USA,200,EISENHOWER,0.127,-0.992,0.1079,0.1305,-0.0178,-22.282379,59,14,0.685
24728,85,99901,99,0,USA,200,EISENHOWER,0.127,-0.992,0.1079,0.1305,-0.0178,-38.134541,100,15,0.683
25171,86,99901,99,0,USA,200,EISENHOWER,0.127,-0.992,0.1079,0.1305,-0.0178,-41.864460,92,13,0.634
25610,87,99902,99,0,USA,100,KENNEDY,-0.630,0.417,0.0683,0.2334,0.1231,-11.216740,116,3,0.908
26055,88,99902,99,0,USA,100,KENNEDY,-0.630,0.417,0.0683,0.2334,0.1231,-2.131130,67,0,0.969
26056,88,99903,99,0,USA,100,JOHNSON,-0.521,0.377,0.0594,0.2493,0.0951,-0.712780,42,0,0.983
26497,89,99903,99,0,USA,100,JOHNSON,-0.521,0.377,0.0594,0.2493,0.0951,-8.808540,171,1,0.950
26939,90,99903,99,0,USA,100,JOHNSON,-0.521,0.377,0.0594,0.2493,0.0951,-36.768589,190,11,0.824
27377,91,99904,99,0,USA,200,NIXON,0.461,-0.887,0.0776,0.1686,-0.2025,-34.305611,90,19,0.683
27820,92,99904,99,0,USA,200,NIXON,0.461,-0.887,0.0776,0.1686,-0.2025,-22.372820,89,9,0.778
28260,93,99904,99,0,USA,200,NIXON,0.461,-0.887,0.0776,0.1686,-0.2025,-60.266121,168,25,0.699
28261,93,99905,99,0,USA,200,FORD,0.486,-0.874,0.0798,0.2106,0.3553,-27.692039,49,10,0.568
28703,94,99905,99,0,USA,200,FORD,0.486,-0.874,0.0798,0.2106,0.3553,-42.894329,135,22,0.728
29142,95,99906,99,0,USA,100,CARTER,-0.729,0.685,0.0763,0.3954,0.0125,-66.880112,185,24,0.697
29580,96,99906,99,0,USA,100,CARTER,-0.729,0.685,0.0763,0.3954,0.0125,-77.446678,246,33,0.730
30020,97,99907,99,0,USA,200,REAGAN,0.738,-0.551,0.1232,0.2056,0.7551,-49.549290,136,17,0.695
30458,98,99907,99,0,USA,200,REAGAN,0.738,-0.551,0.1232,0.2056,0.7551,-53.075291,176,28,0.740
30896,99,99907,99,0,USA,200,REAGAN,0.738,-0.551,0.1232,0.2056,0.7551,-44.552959,161,19,0.758
31334,100,99907,99,0,USA,200,REAGAN,0.738,-0.551,0.1232,0.2056,0.7551,-45.135658,181,18,0.779
31774,101,99908,99,0,USA,200,BUSH,0.649,-0.321,0.0808,0.1628,0.4226,-60.925831,173,30,0.703
32215,102,99908,99,0,USA,200,BUSH,0.649,-0.321,0.0808,0.1628,0.4226,-40.768688,133,18,0.736
32653,103,99909,99,0,USA,100,CLINTON,-0.480,0.211,0.0427,0.1279,-0.4300,-54.460129,170,32,0.726
33091,104,99909,99,0,USA,100,CLINTON,-0.480,0.211,0.0427,0.1279,-0.4300,-54.639969,192,21,0.752
33537,105,99909,99,0,USA,100,CLINTON,-0.480,0.211,0.0427,0.1279,-0.4300,-24.850460,103,11,0.786
33980,106,99909,99,0,USA,100,CLINTON,-0.480,0.211,0.0427,0.1279,-0.4300,-34.847172,95,17,0.693
34420,107,99910,99,0,USA,200,BUSH,0.981,-0.134,0.2873,0.1775,0.8032,-15.162100,66,7,0.795
34862,108,99910,99,0,USA,200,BUSH,0.981,-0.134,0.2873,0.1775,0.8032,-10.657120,86,3,0.883
35303,109,99910,99,0,USA,200,BUSH,0.981,-0.134,0.2873,0.1775,0.8032,-16.289431,81,4,0.818
35742,110,99910,99,0,USA,200,BUSH,0.981,-0.134,0.2873,0.1775,0.8032,-43.074478,187,14,0.794
36189,111,99911,99,0,USA,100,OBAMA,-0.378,-0.435,0.1150,0.1433,-0.5393,-10.988560,100,5,0.896
36634,112,99911,99,0,USA,100,OBAMA,-0.378,-0.435,0.1150,0.1433,-0.5393,-38.011101,152,16,0.779
37077,113,99911,99,0,USA,100,OBAMA,-0.378,-0.435,0.1150,0.1433,-0.5393,-25.352501,95,8,0.766

In [77]:
df2 = df[['cong','idno_name','statenm','party','dwnom1']][df.statenm==' USA    '] #.to_csv('presidents2.csv')

In [78]:
df2.head(10)

      cong             idno_name   statenm  party  dwnom1
562      7  99871_ JEFFERSON       USA        200   0.021
815      9  99871_ JEFFERSON       USA        200   0.021
1103    11  99872_ MADISON         USA        200   0.080
1254    12  99872_ MADISON         USA        200   0.080
2348    18  99873_ MONROE          USA        200   0.149
2560    19  99874_ ADAMS J Q       USA         22   0.377
2778    20  99874_ ADAMS J Q       USA         22   0.377
2996    21  99875_ JACKSON         USA        555  -0.215
3213    22  99875_ JACKSON         USA        555  -0.215
3430    23  99875_ JACKSON         USA        555  -0.215

In [82]:
df2.groupby('idno_name').mean().reset_index()[['idno_name','dwnom1']].to_csv('presidents_with_labels.csv')

In [85]:
!head -n 10 presidents_with_labels.csv

,idno_name,dwnom1
0,99871_ JEFFERSON    ,0.0209999997169
1,99872_ MADISON      ,0.0799999982119
2,99873_ MONROE       ,0.149000003934
3,99874_ ADAMS J Q    ,0.377000004053
4,99875_ JACKSON      ,-0.215000003576
5,99876_ VAN BUREN    ,0.0480000004172
6,99878_ TYLER        ,0.22499999404
7,99879_ POLK         ,-0.665000021458
8,99882_ PIERCE       ,0.217999994755

In [ ]:
df[['cong','idno','statenm','party','name','dwnom1']][df.statenm==' USA    ']

In [46]:
pd.unique(df[df.statenm==' USA    '].name)

array([' JEFFERSON    ', ' MADISON      ', ' MONROE       ',
       ' ADAMS J Q    ', ' JACKSON      ', ' VAN BUREN    ',
       ' TYLER        ', ' POLK         ', ' PIERCE       ',
       ' BUCHANAN     ', ' LINCOLN      ', ' GRANT        ',
       ' ARTHUR       ', ' HARRISON B   ', ' CLEVELAND    ',
       ' MCKINLEY     ', ' ROOSEVELT    ', ' TAFT         ',
       ' WILSON       ', ' HARDING      ', ' COOLIDGE     ',
       ' ROOSEVELT F  ', ' TRUMAN       ', ' EISENHOWER   ',
       ' KENNEDY      ', ' JOHNSON      ', ' NIXON        ',
       ' FORD         ', ' CARTER       ', ' REAGAN       ',
       ' BUSH         ', ' CLINTON      ', ' OBAMA        '], dtype=object)

In [47]:
# Missing presidents (in chronological order):

# George Washington
# John Adams
# William Harrison
# Zachary Taylor
# Millard Fillmore
# Andrew Johnson
# Rutherford Hayes
# James Garfield
# Herbert Hoover

### Folder name to president name mapping

In [90]:
df = pd.read_csv('./presidents_with_labels.csv')

In [91]:
df.head()

   Unnamed: 0             idno_name  dwnom1
0           0  99871_ JEFFERSON       0.021
1           1  99872_ MADISON         0.080
2           2  99873_ MONROE          0.149
3           3  99874_ ADAMS J Q       0.377
4           4  99875_ JACKSON        -0.215

In [98]:
df.idno_name.values

array(['99871_ JEFFERSON    ', '99872_ MADISON      ',
       '99873_ MONROE       ', '99874_ ADAMS J Q    ',
       '99875_ JACKSON      ', '99876_ VAN BUREN    ',
       '99878_ TYLER        ', '99879_ POLK         ',
       '99882_ PIERCE       ', '99883_ BUCHANAN     ',
       '99884_ LINCOLN      ', '99886_ GRANT        ',
       '99889_ ARTHUR       ', '99890_ CLEVELAND    ',
       '99891_ HARRISON B   ', '99892_ MCKINLEY     ',
       '99893_ ROOSEVELT    ', '99894_ TAFT         ',
       '99895_ WILSON       ', '99896_ HARDING      ',
       '99897_ COOLIDGE     ', '99899_ ROOSEVELT F  ',
       '99900_ TRUMAN       ', '99901_ EISENHOWER   ',
       '99902_ KENNEDY      ', '99903_ JOHNSON      ',
       '99904_ NIXON        ', '99905_ FORD         ',
       '99906_ CARTER       ', '99907_ REAGAN       ',
       '99908_ BUSH         ', '99909_ CLINTON      ',
       '99910_ BUSH         ', '99911_ OBAMA        '], dtype=object)

In [96]:
!ls repos/President-Speeches-Embeddings/president_scraper/data/

adams       coolidge    harding     kennedy     pierce      vanburen
arthur      eisenhower  harrison    lbjohnson   polk        washington
bharrison   fdroosevelt hayes       lincoln     reagan      wilson
buchanan    fillmore    hoover      madison     roosevelt
bush        ford        jackson     mckinley    taft
carter      garfield    jefferson   monroe      taylor
cleveland   grant       johnson     nixon       truman
clinton     gwbush      jqadams     obama       tyler

In [99]:
import sys

In [110]:
mypath = './repos/President-Speeches-Embeddings/president_scraper/data/'

In [107]:
from os import listdir
from os.path import isfile, join
onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]

In [108]:
onlyfiles

['names.csv', 'scrapy.cfg']

In [118]:
files = []

In [119]:
for direc in listdir(mypath):
    files.append(direc)

In [128]:
pp_dict = {}

In [131]:
for y in files:
    for x in df.idno_name.values:
        if y in x.lower().split("_")[1]:
            pp_dict[y] = x
            break
        else:
            pp_dict[y] = 'None'

In [ ]:
# George Washington
# John Adams
# William Harrison
# Zachary Taylor
# Millard Fillmore
# Andrew Johnson
# Rutherford Hayes
# James Garfield
# Herbert Hoover

In [133]:
pp_dict['bush'] = '99908_ BUSH         '
pp_dict['gwbush'] = '99910_ BUSH         '
pp_dict['lbjohnson'] = '99903_ JOHNSON      '
pp_dict['jqadams'] = '99874_ ADAMS J Q    '
pp_dict['bharrison'] = '99891_ HARRISON B   '
pp_dict['vanburen'] = '99876_ VAN BUREN    '
pp_dict['fdroosevelt'] = '99899_ ROOSEVELT F  '

pp_dict['washington'] = 'None'
pp_dict['adams'] = 'None'
pp_dict['harrison'] = 'None'
pp_dict['taylor'] = 'None'
pp_dict['fillmore'] = 'None'
pp_dict['johnson'] = 'None'
pp_dict['hayes'] = 'None'
pp_dict['garfield'] = 'None'
pp_dict['hoover'] = 'None'

In [135]:
df.idno_name.values

array(['99871_ JEFFERSON    ', '99872_ MADISON      ',
       '99873_ MONROE       ', '99874_ ADAMS J Q    ',
       '99875_ JACKSON      ', '99876_ VAN BUREN    ',
       '99878_ TYLER        ', '99879_ POLK         ',
       '99882_ PIERCE       ', '99883_ BUCHANAN     ',
       '99884_ LINCOLN      ', '99886_ GRANT        ',
       '99889_ ARTHUR       ', '99890_ CLEVELAND    ',
       '99891_ HARRISON B   ', '99892_ MCKINLEY     ',
       '99893_ ROOSEVELT    ', '99894_ TAFT         ',
       '99895_ WILSON       ', '99896_ HARDING      ',
       '99897_ COOLIDGE     ', '99899_ ROOSEVELT F  ',
       '99900_ TRUMAN       ', '99901_ EISENHOWER   ',
       '99902_ KENNEDY      ', '99903_ JOHNSON      ',
       '99904_ NIXON        ', '99905_ FORD         ',
       '99906_ CARTER       ', '99907_ REAGAN       ',
       '99908_ BUSH         ', '99909_ CLINTON      ',
       '99910_ BUSH         ', '99911_ OBAMA        '], dtype=object)

In [134]:
pp_dict

{'adams': 'None',
 'arthur': '99889_ ARTHUR       ',
 'bharrison': '99891_ HARRISON B   ',
 'buchanan': '99883_ BUCHANAN     ',
 'bush': '99908_ BUSH         ',
 'carter': '99906_ CARTER       ',
 'cleveland': '99890_ CLEVELAND    ',
 'clinton': '99909_ CLINTON      ',
 'coolidge': '99897_ COOLIDGE     ',
 'eisenhower': '99901_ EISENHOWER   ',
 'fdroosevelt': '99899_ ROOSEVELT F  ',
 'fillmore': 'None',
 'ford': '99905_ FORD         ',
 'garfield': 'None',
 'grant': '99886_ GRANT        ',
 'gwbush': '99910_ BUSH         ',
 'harding': '99896_ HARDING      ',
 'harrison': 'None',
 'hayes': 'None',
 'hoover': 'None',
 'jackson': '99875_ JACKSON      ',
 'jefferson': '99871_ JEFFERSON    ',
 'johnson': 'None',
 'jqadams': '99874_ ADAMS J Q    ',
 'kennedy': '99902_ KENNEDY      ',
 'lbjohnson': '99903_ JOHNSON      ',
 'lincoln': '99884_ LINCOLN      ',
 'madison': '99872_ MADISON      ',
 'mckinley': '99892_ MCKINLEY     ',
 'monroe': '99873_ MONROE       ',
 'nixon': '99904_ NIXON        ',
 'obama': '99911_ OBAMA        ',
 'pierce': '99882_ PIERCE       ',
 'polk': '99879_ POLK         ',
 'reagan': '99907_ REAGAN       ',
 'roosevelt': '99893_ ROOSEVELT    ',
 'taft': '99894_ TAFT         ',
 'taylor': 'None',
 'truman': '99900_ TRUMAN       ',
 'tyler': '99878_ TYLER        ',
 'vanburen': '99876_ VAN BUREN    ',
 'washington': 'None',
 'wilson': '99895_ WILSON       '}

In [149]:
with open('folders_to_presidents.csv','w') as f:
    f.write("foldername,idno_name\n")
    for x in pp_dict.items():
        f.write(x[0]+","+x[1]+"\n")

In [150]:
!head -n 10 folders_to_presidents.csv

foldername,idno_name
madison,99872_ MADISON
taft,99894_ TAFT
clinton,99909_ CLINTON
carter,99906_ CARTER
buchanan,99883_ BUCHANAN
reagan,99907_ REAGAN
garfield,None
taylor,None
fdroosevelt,99899_ ROOSEVELT F

In [151]:
!wc -l folders_to_presidents.csv

      44 folders_to_presidents.csv

### Regression to classification (segmenting labels)

In [1]:
!head -n 10 presidents_with_labels.csv

,idno_name,dwnom1
0,99871_ JEFFERSON    ,0.0209999997169
1,99872_ MADISON      ,0.0799999982119
2,99873_ MONROE       ,0.149000003934
3,99874_ ADAMS J Q    ,0.377000004053
4,99875_ JACKSON      ,-0.215000003576
5,99876_ VAN BUREN    ,0.0480000004172
6,99878_ TYLER        ,0.22499999404
7,99879_ POLK         ,-0.665000021458
8,99882_ PIERCE       ,0.217999994755

In [8]:
df = pd.read_csv('presidents_with_labels.csv', index_col=0)

In [9]:
df.head()

              idno_name  dwnom1
0  99871_ JEFFERSON       0.021
1  99872_ MADISON         0.080
2  99873_ MONROE          0.149
3  99874_ ADAMS J Q       0.377
4  99875_ JACKSON        -0.215

In [14]:
def get_label(num):
    if num >= -1. and num < -0.75:
        return 0 #ultra-liberal
    elif num >= -.75 and num < -0.5:
        return 1 #very-liberal
    elif num >= -.5 and num < -0.25:
        return 2 #liberal
    elif num >= -.25 and num < 0.:
        return 3 #somewhat-liberal
    elif num >= 0. and num < 0.25:
        return 4 #somewhat conservative
    elif num >= .25 and num < 0.5:
        return 5 #conservative
    elif num >= .5 and num < 0.75:
        return 6 #very-conservative
    elif num >= .75 and num <= 1.:
        return 7 #ultra-conservative

In [15]:
df.dwnom1

0     0.0210
1     0.0800
2     0.1490
3     0.3770
4    -0.2150
5     0.0480
6     0.2250
7    -0.6650
8     0.2180
9    -0.6310
10    0.3750
11    0.1630
12    0.0940
13   -0.3730
14    0.2360
15    0.2230
16    0.4280
17    0.2300
18   -0.4020
19    0.4610
20    0.3700
21   -0.2468
22   -0.2760
23    0.1270
24   -0.6300
25   -0.5210
26    0.4610
27    0.4860
28   -0.7290
29    0.7380
30    0.6490
31   -0.4800
32    0.9810
33   -0.3780
Name: dwnom1, dtype: float64

In [17]:
df['label'] = df.dwnom1.apply(lambda x: get_label(x)) #get_label(df['dwnom1'])

In [18]:
df.head()

              idno_name  dwnom1  label
0  99871_ JEFFERSON       0.021      4
1  99872_ MADISON         0.080      4
2  99873_ MONROE          0.149      4
3  99874_ ADAMS J Q       0.377      5
4  99875_ JACKSON        -0.215      3

In [19]:
df.to_csv('presidents_with_labels.csv')

In [22]:
df2 = pd.read_csv('repos/President-Speeches-Embeddings/speech_data/presidents_meta.csv',index_col=0)

In [23]:
df2.head()

  foldername             idno_name  Unnamed: 0.1  dwnom1
0    madison  99872_ MADISON                   1   0.080
1       taft  99894_ TAFT                     17   0.230
2    clinton  99909_ CLINTON                  31  -0.480
3     carter  99906_ CARTER                   28  -0.729
4   buchanan  99883_ BUCHANAN                  9  -0.631

In [24]:
df2['label'] = df2.dwnom1.apply(lambda x: get_label(x))

In [27]:
df2.head()

  foldername             idno_name  Unnamed: 0.1  dwnom1  label
0    madison  99872_ MADISON                   1   0.080      4
1       taft  99894_ TAFT                     17   0.230      4
2    clinton  99909_ CLINTON                  31  -0.480      2
3     carter  99906_ CARTER                   28  -0.729      1
4   buchanan  99883_ BUCHANAN                  9  -0.631      1

In [28]:
df2.to_csv('repos/President-Speeches-Embeddings/speech_data/presidents_meta.csv')